<p id="notice"><%= notice %></p>

<div class="container">
  <h1>Orders</h1>

  <table class="table">
    <thead>
      <tr>
        <th>User</th>
        <th>Subscription</th>
        <th>Buy order</th>
        <th>Amount</th>
        <th>Status</th>
        <th>Transaction date</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.user ? "#{ order.user.first_name } #{ order.user.last_name }" : '' %></td>
          <td><%= order.subscription ? order.subscription.name : '' %></td>
          <td><%= order.buy_order %></td>
          <td><%= order.amount ? number_to_currency(order.amount, delimiter: '.', precision: 0) : '' %></td>
          <td><%= order.status ? order.status.titleize : '' %></td>
          <td><%= order.transaction_date ? order.transaction_date.strftime('%d-%m-%Y') : '' %></td>
          <td><%= link_to 'Show', order %></td>
          <td><%= link_to 'Edit', edit_order_path(order) %></td>
          <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Order', new_order_path %>
</div>
<br>
