<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Order</h1>
    </div>
  </div>
  <br>

  <% if @order.user %>
    <p>
      <strong>User:</strong>
      <%= "#{ @order.user.first_name } #{ @order.user.last_name }" %>
    </p>
  <% end %>

  <% if @order.subscription %>
    <p>
      <strong>Subscription:</strong>
      <%= @order.subscription.name %>
    </p>
  <% end %>

  <% if @order.buy_order %>
    <p>
      <strong>Buy order:</strong>
      <%= @order.buy_order %>
    </p>
  <% end %>

  <% if @order.amount %>
    <p>
      <strong>Amount:</strong>
      <%= number_to_currency(@order.amount, delimiter: '.', precision: 0) %>
    </p>
  <% end %>

  <% if @order.status %>
    <p>
      <strong>Status:</strong>
      <%= @order.status.titleize %>
    </p>
  <% end %>

  <% if @order.card_number %>
    <p>
      <strong>Card number:</strong>
      <%= @order.card_number %>
    </p>
  <% end %><big></big>

  <% if @order.transaction_date %>
    <p>
      <strong>Transaction date:</strong>
      <%= @order.transaction_date.strftime('%d-%m-%Y %H:%M:%S') %>
    </p>
  <% end %>

  <% if @order.payment_type_code %>
    <p>
      <strong>Payment type code:</strong>
      <%= @order.payment_type_code.titleize %>
    </p>
  <% end %>

  <% if @order.installments_amount %>
    <p>
      <strong>Installments amount:</strong>
      <%= number_to_currency(@order.installments_amount, delimiter: '.', precision: 0) %>
    </p>
  <% end %>

  <% if @order.installments_number %>
    <p>
      <strong>Installments number:</strong>
      <%= @order.installments_number %>
    </p>
  <% end %>

  <% if @order.balance %>
    <p>
      <strong>Balance:</strong>
      <%= @order.balance %>
    </p>
  <% end %>

  <% if @order.authorization_code %>
    <p>
      <strong>Authorization code:</strong>
      <%= @order.authorization_code.titleize %>
    </p>
  <% end %>

  <% if @order.authorization_date %>
    <p>
      <strong>Authorization date:</strong>
      <%= @order.authorization_date.strftime('%d-%m-%Y %H:%M:%S') %>
    </p>
  <% end %>

  <% if @order.nullified_amount %>
    <p>
      <strong>Nullified amount:</strong>
      <%= number_to_currency(@order.nullified_amount, delimiter: '.', precision: 0) %>
    </p>
  <% end %>

  <%= link_to 'Edit', edit_order_path(@order) %> |
  <%= link_to 'Back', orders_path %>
</div>
<br>
